[Unit]
Description=Nirinit session manager
Documentation=https://github.com/amaanq/nirinit
PartOf=niri.service
After=niri.service
Requisite=niri.service

[Service]
ExecStart=/usr/bin/nirinit --save-interval 300
Restart=on-failure
RestartSec=2

[Install]
WantedBy=niri.service
